#aboutContent{
  display: flex;
  flex-direction: column;
}

.aboutSection {
  flex: 1;
  padding: 0px 50px 50px 50px;
}

#itemContent {
  display: flex;
  flex-direction: row;
}

.itemGroup {
  flex: 1;
  margin: 5px;
}

.item {
  /* background-color: rgba(0, 0, 0, 0.534); */
  text-align: center;
  margin: 5px;
  border-bottom: 2px solid;
  transition: 0.25s;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.534);
}

@media only screen and (min-width: 700px) {
  #aboutContent{
    flex-direction: row;
  }
}